body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #f8f9fa, #e9ecef);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #333;
    
}
.signup-container {
   
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    padding-right : 20px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
   
}
.signup-container h1 {
    font-size: 2em;
    margin-bottom: 20px;
}
.form-group {
    margin-bottom: 15px;
    text-align: left;
    margin-right: 20px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.form-group input {
    width: 100%;
    padding: 10px;
   
    border: 1px solid #ced4da;
    border-radius: 5px;
    outline: none;
}
.form-group input:focus {
    box-shadow: 0 0 5px #007bff;
    border-color: #007bff;
}
.btn {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}
.btn:hover {
    background-color: #0056b3;
}
